{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/html/vite-demo/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/html/vite-demo/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dicta dignissimos doloribus eos error, eum exercitationem illo illum minima natus numquam odio pariatur perferendis quasi repellendus tempore temporibus ullam voluptatem?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, blanditiis distinctio enim error necessitatibus totam vero! Deleniti esse minus reprehenderit tempora voluptatum. A doloremque, explicabo labore maiores minus non tenetur.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, blanditiis distinctio enim error necessitatibus totam vero! Deleniti esse minus reprehenderit tempora voluptatum. A doloremque, explicabo labore maiores minus non tenetur.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, blanditiis distinctio enim error necessitatibus totam vero! Deleniti esse minus reprehenderit tempora voluptatum. A doloremque, explicabo labore maiores minus non tenetur.
    </p>

    {% for i in 1..3 %}
        <img src="{{ asset('assets/img/placeholder' ~ i ~ '.svg', 'vite') }}" alt="">
    {% endfor %}
</div>
{% endblock %}
